body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .delete {
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    height: 100vh;
  }
  
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    z-index: 1000;
  }
  
  .set1 {
    font-size: 100px;
  }
  
  .cancel {
    margin-top: 20px;
 
    padding: 8px 20px;
    background-color: #008CFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 180px;
  }
  
  .cancel {
    margin-top: 10px; /* 위에서 너무 멀어지지 않게 */
    margin-bottom: 5px; /* ✅ 아래 버튼과 살짝만 간격 */
    padding: 8px 20px;
    background-color: #008CFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 180px;
  }
  
  .check3 {
    margin-top: 0px; /* ✅ 위 버튼과 한 칸 간격 */
    padding: 8px 20px;
    background-color: #008CFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 180px;
  }
  
  
  .selectbtn {
    display: flex;
    justify-content: space-around;
  }
  
  .btn2 {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  