/* 헤더 전체 스타일 */
.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #272da5;
  }
  
  /* 로고 스타일 */
  .logo img {
    width: 120px;
    height: 50px;
  }
  
  /* 검색창 스타일 */
  .search-container {
    margin-left: auto;  /* 👉 왼쪽 여백을 자동으로 채워서 오른쪽으로 이동 */
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255);
    border-radius: 4px;
    width: 200px;
    transition: width 0.3s ease-in-out;
  }
  
  .search-container:hover {
    background-color: rgb(245, 245, 245);
  }
  
  .search-input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
  }
  
  .search-icon {
    color: gray;
  }
  
  /* 검색창 포커스 시 넓어짐 */
  .search-input:focus {
    width: 250px;
  }